<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yjc.wdb.mapper.CategoryMapper">

<insert id="insertDetail_category">
insert into detail_category
	(LCLASCTGRY_CODE, DETAILCTGRY_NM)
values (#{lclasctgry_code} #{detailctgry_nm})
</insert>

<insert id="insertDetail_category_location">
insert into detail_category_location
	(DETAILCTGRY_CODE, TILE_CODE, DETAILCTGRYLC_APPLC_DE)
values (#{detailctgry_code}, #{tile_code}, now())
</insert>

<select id="selectDetail_categoryList" resultType="java.util.Map">
select 
	DETAILCTGRY_CODE, DETAILCTGRY_NM, LCLASCTGRY_CODE
from 
	detail_category;
</select>


<insert id="insertLarge_classification_category">
insert into large_classification_category
	(LCLASCTGRY_NM, LCLASCTGRY_COLOR)
values (#{lclasctgry_nm}, #{lclasctgry_color})
</insert>


<!-- <update id="">
</update>

<delete id="" >
</delete>

<select id="" resultType="">
</select>
 -->
</mapper>