<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yjc.wdb.mapper.CouponMapper">
<sql id="persent">
	<if test="yPersent == 'per'.toString()">
		CONCAT(#{coupon_dscnt},'%'),
	</if>
	
	<if test="yPersent == 'won'.toString()">
		#{coupon_dscnt},
	</if>
	
</sql>
	<!-- 쿠폰 등록 -->
	<insert id="insertCoupon">
		insert into coupon
		(COUPON_NM, COUPON_CNTNTS,
		COUPON_DSCNT, COUPON_BEGIN_DE, COUPON_END_DE)
		values (#{coupon_nm}, #{coupon_cntnts},<include refid="persent"></include> #{coupon_begin_de}, #{coupon_end_de})
	</insert>
	
	<!-- 쿠폰에 할인할 물품 적용 -->
	<insert id="applyCoupon">
		insert into coupon_goods_creation
		(COUPON_CODE, GOODS_CODE, COUPON_CO, BHF_CODE)
		values (#{coupon_code}, #{goods_code}, #{coupon_co}, #{bhf_code})
	</insert>
	
	<!-- 전체 쿠폰 리스트 출력 -->
	<select id="selectCouponList" resultType="CouponVO">
		select c.coupon_code, c.coupon_nm, c.coupon_cntnts, c.coupon_dscnt, c.coupon_begin_de, c.coupon_end_de, g.bhf_code
		from coupon c, coupon_goods_creation g
		where c.coupon_code = g.coupon_code
		AND g.bhf_code = #{bhf_code}
		OR g.bhf_code = 0
	</select>
	
	<!--  특정 쿠폰 정보 출력 -->
	<select id="selectCouponOne" resultType="CouponVO">
		select *
		from coupon
		where coupon_code=#{coupon_code};
	</select>
	
	<!-- 물품 적용에 들어갈 쿠폰 코드 가져오기 -->
	<select id="selectCode" resultType="int">
		select MAX(coupon_code) as max_code
		from coupon
	</select>
	
	<!-- 쿠폰 수정 -->
	<update id="updateCoupon">
		update coupon set coupon_nm =#{coupon_nm}, coupon_cntnts =#{coupon_cntnts},
		coupon_dscnt = #{coupon_dscnt}, coupon_begin_de = #{coupon_begin_de}, coupon_end_de = #{coupon_end_de}
		where coupon_code = #{coupon_code};
	</update>
	
	<!-- 쿠폰 삭제 -->
	<delete id="deleteCoupon">
		delete from coupon where coupon_code = #{coupon_code};
	</delete>
	

	

	<!-- <update id=""> </update> <delete id="" > </delete> <select id="" resultType=""> 
		</select> -->


</mapper>