<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yjc.wdb.mapper.TileMapper">
	<select id="tileList" resultType="TileVO">
		select *
		from tile
		order by tile_name asc
	</select>
</mapper>